name: Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16.x'
    - name: Install packages
      run: yarn install
    - name: Type check
      run: yarn type-check
    - name: Build
      run: yarn build
